---
// Layout.astro or any other component
---
<html lang="en">
<head>
  <title>Your App</title>
  <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
  <!-- Your content -->
</body>
</html>
